body {
    margin: 0;
    font-family: Helvetica;
    background-color: #5e6472;
    color: white;
  }
  
  .landing-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .landing-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .logo {
    height: 250px !important;
    border-radius: 25%;
  }
  
  .login-btn {
    background-color: #aed9e0;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #9ece9a;
  }
  
  .landing-main {
    margin-top: 50px;
  }
  
  .landing-main h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .landing-main p {
    font-size: 1.2em;
    margin-bottom: 40px;
  }
  
  .cta-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .cta-container input {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .cta-container .btn-primary {
    background-color: #b8f2e6;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: black;
  }
  
  .cta-container .btn-primary:hover {
    background-color: #9ece9a;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .main-image {
    background-color: #ffa69e;
    color: black;
    padding: 50px;
    border-radius: 25%;
    font-size: 1.2em;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  /* Create two columns */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }
  
  .left {
    flex: 3; /* Take up more space */
  }
  
  .right {
    flex: 1; /* Take up less space */
  }
  
  /* Responsive layout for smaller screens */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  